
#top-bar {
	display: block;
	background: url("http://www.refreshproperty.com.au/images/Blog/original/1408107457_6_1.jpg");
	background-size: contain;
	height: 200px;
}

#main{
height: 500px;
}

#left-column {
	background-color: lightblue;
	height: 100%;
	padding: 0px;
}
	#box-login input {
		margin-top: 10px;
		margin-left: 10px;
		display: block;
	}

	#property-list {
		background-color: lightyellow;
		margin-top: 60px;
		min-height: 70%;
		width: 100%; 
	}

#right-column {
	background-color: grey;
	height: 100%
}