
#top-bar {
	display: block;
	background: url("http://www.refreshproperty.com.au/images/Blog/original/1408107457_6_1.jpg");
	background-size: contain;
	height: 200px;
}

#main{
height: 500px;
}

#left-column {
	background-color: lightblue;
	height: 100%;
	padding: 0px;
}
	#existing-user input {
		margin-top: 10px;
		margin-left: 10px;
		display: block;
	}

	#property-list {
		background-color: lightyellow;
		margin-top: 60px;
		min-height: 70%;
		width: 100%; 
	}

#right-column {
	background-color: grey;
	height: 100%;
	padding: 0px;
}

/*MAP STYLES*/
#map {
  height:  100%;
  width:   100%;
}

   /*SEARCH*/
   .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}