
#top-bar {
  display: block;
  background: url("http://www.hebburntownfc.co.uk/wp-content/uploads/2012/07/footballpitch.jpg");
  /*background-size: contain;*/
  /*background-color: lightgreen; */
  height: 10vh;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
  #top-bar p {
    padding: 0px;
    margin: auto 0;
    display: inline-block;
    height: 100%;
    font-size: 3em;
  }
  #top-bar .prop {
    font-family: 'Bree Serif', serif;
    color: white;
  }
  #top-bar .pro {
    font-family: 'Bree Serif', serif;
    /*font-family: 'Kaushan Script', cursive;*/
    color: black;
  }

/*====================================================================================*/

#main{
  height: 90vh;
}

#left-column {
  background-color: white;
  /*height: 100%;*/
  padding: 0px;
}
  /*Login area*/
  #left-column input{
    margin: 2% auto 0px;
    display: block;
    text-align: center;
  }
  #left-column button{
    margin: 2% auto 2%;
    display: block;
    text-align: center;
    width: 90%;
  }

/*================================================================================*/
#box-login {
  height: 25vh;
}
    .logintab {
      background-color: #929292;
      width: 50%;
      text-align: center;
    }
    #existing-user input {height: 5vh;}

    .signuptab {
      background-color: #929292;
      width: 50%;
      text-align: center;
    }

    #new-user input {height: 3.4vh;}
/*================================================================================*/
/*Existing*/
    .existing-pins {font-weight: 700;}
        .existing-pins span {font-weight: 400;}
        .existing-pins-label { text-decoration: underline;}
/*         .existing-pins-address {font-weight: 400;}
        .existing-pins-note {font-weight: 400;}
        .existing-pins-type {font-weight: 400;}
        .existing-pins-size {font-weight: 400;}*/

        .save-sidebar {
          background-color: ##0080FF;
          border: solid grey;
          border-radius: 2px;
          color: black;
        }
    
        #property-list {
          background-color: #0080FF;
          overflow: scroll;
          height: 65vh;
        }
        #property-list-title {
          text-align: center;
          margin-bottom: 3px; 
          margin-top: 3px;
          /*text-decoration: underline;*/
          font-weight: 700;
          color: white;
          font-family: 'Bree Serif', serif;
        }

/*================================================================================*/


#right-column {
  background-color: grey;
  height: 100%;
  padding: 0px;
}

/*NEW PROPERTY FORM */
#new-property-form{
  display: none;
}



/*MAP STYLES*/
#map {
  height:  100%;
  width:   100%;
}

   /*SEARCH*/
   .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/*===================================*/
.pins p {
  font-family: 'PT Sans', sans-serif; 
  font-weight: 700;
}

.pins input {
  font-family: 'PT Sans', sans-serif; 
}
  .pin-label {
    border: none;
    background-color: #EBEEED;
    text-align: center;
    width: 100%;
  }
  .pin-address span {
    font-weight: 400;
  }
  .pin-note {
    text-align: center;
    border: none;
    background-color: #EBEEED;
    margin-bottom: 2px;
    width: 100%;
  }
  
  .pin-type{
    margin-bottom: 2px;
    color: #000;
  }
    .pin-type option {
    background: red;
  }


  .pin-size {
    display: inline-block;
  }
      .pin-size-input {
        border: none;
        background-color: #EBEEED;
        /*border-bottom: 1px solid grey;*/
        width: 25%;
        display: inline-block;
        text-align: center;
      }

  .new-property-btn {
    border-radius: 100%;
    border-width: 0.5px;
    background-color: #4BFDFD; 
    font-weight: 700;
    box-shadow: 0 4px 4px -2px #000000;
    margin-bottom: 5px;
    float: right;
  }

